*.gitignore
*.bak
*.pyc
/testcases/*
/testcases/backup
/testcases/qq_result
/testcases/result
/testcases/*.bak
/testcases/*--.xml
*.log
/testcases/logintest--(3).xml
/¸´¼þ result2xml.py
/¸´¼þ dumper.py
/¸´¼þ (2) dumper.py
